################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Routing/bin/Debug/netcoreapp3.1
/Routing/obj/Debug/netcoreapp3.1
/AnalyzerModule/obj
/RoutingLib/bin/Debug/netcoreapp3.1
/RoutingLib/obj/Debug/netcoreapp3.1
/RoutingLib/obj
/RoutingLibTests/bin/Debug/netcoreapp3.1
/RoutingLibTests/obj/Debug/netcoreapp3.1
/RoutingLibTests/obj
/RoutingLib/.vs/RoutingLib/DesignTimeBuild
